@font-face {
  src: url(../assets/transfonter.org-20201108-231602/AvenirNextLTPro-Bold.woff2);
  font-family: "avenir";
  font-weight: bold;
}

@font-face {
  src: url(../assets/transfonter.org-20201108-231602/AvenirNextLTPro-Demi.woff2);
  font-family: "avenir demi";
}
@font-face {
  src: url(../assets/transfonter.org-20201108-231602/AvenirNextLTPro-Regular.woff2);
  font-family: "avenir";
  font-weight: normal;
}
